[submodule "marola-site"]
	path = marola-site
	url = https://github.com/marola-dev/marola-site.git
[submodule "marola-corpus"]
	path = marola-corpus
	url = https://github.com/marola-dev/marola-corpus.git
